<h1><%= t('chuck_norris_jokes') %></h1>

<% if @paginated_jokes.present? %>
  <h2><%= t('search_results') %>:</h2>
  <ul>
    <% @paginated_jokes.each do |joke| %>
      <li><%= joke["value"] %></li>
    <% end %>
  </ul>
  <%= paginate @paginated_jokes %>
<% elsif @joke %>
  <p><strong><%= t('joke') %>:</strong> <%= @joke %></p>
<% end %>

<hr>

<h2><%= t('random_joke') %></h2>
<%= button_to t('another_random_joke'), search_index_path(random: true), method: :get %>

<hr>

<h2><%= t('category_joke') %></h2>
<%= form_with url: search_index_path, method: :get, local: true do %>
  <%= label_tag :category, t('select_category') %>
  <%= select_tag :category, options_for_select(@categories, params[:category]) %>
  <%= submit_tag t('search_by_category') %>
<% end %>

<hr>

<h2><%= t('search_joke') %></h2>
<%= form_with url: search_index_path, method: :get, local: true do %>
  <%= label_tag :query, t('search_text') %>
  <%= text_field_tag :query, params[:query] %>

  <br>

  <%= label_tag :email, t('email_optional') %>
  <%= email_field_tag :email, params[:email] %>

  <br>

  <%= submit_tag t('search') %>
<% end %>

<hr>

<p><%= link_to "Español", url_for(locale: 'es') %> | <%= link_to "English", url_for(locale: 'en') %></p>
