<h1>Chuck Norris Jokes</h1>

<% if @joke %>
  <p><strong>Chiste:</strong> <%= @joke %></p>
<% end %>

<hr>

<h2>Chiste aleatorio</h2>
<%= button_to "Otro chiste aleatorio", search_index_path(random: true), method: :get%>
<hr>

<h2>Chiste por categoría</h2>
<%= form_with url: search_index_path, method: :get, local: true do %>
  <%= label_tag :category, "Categoría:" %>
  <%= select_tag :category, options_for_select(@categories, params[:category]) %>
  <%= submit_tag "Buscar por categoría"%>
<% end %>

<hr>

<h2>Buscar chiste por texto</h2>
<%= form_with url: search_index_path, method: :get, local: true do %>
  <%= label_tag :query, "Buscar texto:" %>
  <%= text_field_tag :query %>
  <%= submit_tag "Buscar"%>
<% end %>
